@import url("../../node_modules/noty/lib/noty.css");
@import url("../../node_modules/noty/lib/themes/sunset.css");

body {
  background: whitesmoke;
  color: darkcyan;
  font-family: Sans-Serif;
	display:flex;
	align-items: center;
	justify-content: center;
}

.form{
  margin-top: 200px;
}

.date-preview{
  margin-top: 40px;
}

.user-input{
  border: 2px solid grey;
  border-radius: 40px;
  height: 40px;
  padding: 0 11px;
  font-size: 14px;
  overflow: hidden;
  color: grey;
  min-width: 60px;
  background-color: white;
}
