/* styles in src/style directory are applied to the whole page */
body {
  background: whitesmoke;
  color: darkcyan;
  font-family: Sans-Serif;
	display:flex;
	align-items: center;
	justify-content: center;
}


.form{
  margin: 200px;
}

label {

}

.date-preview{
  margin-top: 40px;
}

.user-input{
  border: 2px solid grey;
  border-radius: 40px;
  height: 40px;
  padding: 0 11px;
  font-size: 14px;
  overflow: hidden;
  color: grey;
  min-width: 60px;
}
