<div class="form">

  <label>Day</label>
  <select ng-change="updateDay(selectedDay)" class="user-input" ng-model="selectedDay" ng-options="day for  day in allDays" required>
  </select>

  <label>Month</label>
  <select ng-change="updateMonth(selectedMonth)" class="user-input" ng-model="selectedMonth" ng-options="month for month in allMonths" required>
  </select>

  <label>Year</label>
  <input ng-change="updateYear(selectedYear)" class="user-input" ng-model="selectedYear" placeholder="Enter A Year" max="9999" required/>
  <div class="date-preview" >{{formatDate(currentDate)}}</div>
</div> 
